<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>L'app ha bisogno dell'accesso alla fotocamera per scansionare il testo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>L'app ha bisogno dell'accesso alla galleria per selezionare immagini con testo</string>
</dict>
</plist>
